In [100]:
import gc
import os
import random
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_auc_score, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import seaborn as sns

In [101]:
SEED = 11
FOLDS = 5
ESTIMATORS = 100
SCORING = make_scorer(roc_auc_score, greater_is_better=True, needs_proba=True, average='macro')
TARGET = 'Target'
FEATURES = [f'Var{i}' for i in range(4, 164)]

#COLUMNS = {'ID': np.int32, 'Fold': str, 'Target': np.int16, 'Var4': int}

In [102]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)


seed_everything(SEED)

In [103]:
#data = pd.read_csv(f'data/ex2.csv', index_col='ID', dtype=COLUMNS, usecols=list(COLUMNS.keys()))
data = pd.read_csv(f'data/ex2.csv', index_col='ID')
data.drop(columns='Unnamed: 0', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13015 entries, 1 to 13015
Columns: 162 entries, Fold to Var163
dtypes: float64(19), int64(142), object(1)
memory usage: 16.2+ MB

In [104]:
train = data[data['Fold'] == 'IS'].copy()
train.drop(columns='Fold', inplace=True)
train.info(max_cols=200)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8242 entries, 1 to 8725
Data columns (total 161 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  8242 non-null   int64
 1   Var4    8242 non-null   int64
 2   Var5    8242 non-null   int64
 3   Var6    8242 non-null   int64
 4   Var7    8242 non-null   float64
 5   Var8    8242 non-null   int64
 6   Var9    8242 non-null   float64
 7   Var10   8242 non-null   int64
 8   Var11   8242 non-null   int64
 9   Var12   8242 non-null   int64
 10  Var13   8242 non-null   float64
 11  Var14   8242 non-null   float64
 12  Var15   8242 non-null   int64
 13  Var16   8242 non-null   int64
 14  Var17   8242 non-null   int64
 15  Var18   8242 non-null   int64
 16  Var19   8242 non-null   int64
 17  Var20   8242 non-null   int64
 18  Var21   8242 non-null   int64
 19  Var22   8242 non-null   int64
 20  Var23   8242 non-null   int64
 21  Var24   8242 non-null   float64
 22  Var25   8242 non-null   float64
 23  Var26   8242 non-null   int64
 24  Var27   8242 non-null   int64
 25  Var28   8242 non-null   int64
 26  Var29   8242 non-null   int64
 27  Var30   8242 non-null   int64
 28  Var31   8242 non-null   int64
 29  Var32   8242 non-null   int64
 30  Var33   8242 non-null   int64
 31  Var34   8242 non-null   int64
 32  Var35   8242 non-null   int64
 33  Var36   8242 non-null   int64
 34  Var37   8242 non-null   int64
 35  Var38   8242 non-null   int64
 36  Var39   8242 non-null   int64
 37  Var40   8242 non-null   int64
 38  Var41   8242 non-null   int64
 39  Var42   8242 non-null   int64
 40  Var43   8242 non-null   int64
 41  Var44   8242 non-null   float64
 42  Var45   8242 non-null   int64
 43  Var46   8242 non-null   int64
 44  Var47   8242 non-null   int64
 45  Var48   8242 non-null   int64
 46  Var49   8242 non-null   int64
 47  Var50   8242 non-null   int64
 48  Var51   8242 non-null   int64
 49  Var52   8242 non-null   int64
 50  Var53   8242 non-null   int64
 51  Var54   8242 non-null   int64
 52  Var55   8242 non-null   int64
 53  Var56   8242 non-null   int64
 54  Var57   8242 non-null   int64
 55  Var58   8242 non-null   int64
 56  Var59   8242 non-null   int64
 57  Var60   8242 non-null   int64
 58  Var61   8242 non-null   int64
 59  Var62   8242 non-null   int64
 60  Var63   8242 non-null   int64
 61  Var64   8242 non-null   int64
 62  Var65   8242 non-null   int64
 63  Var66   8242 non-null   int64
 64  Var67   8242 non-null   int64
 65  Var68   8242 non-null   int64
 66  Var69   8242 non-null   int64
 67  Var70   8242 non-null   int64
 68  Var71   8242 non-null   int64
 69  Var72   8242 non-null   float64
 70  Var73   8242 non-null   float64
 71  Var74   8242 non-null   int64
 72  Var75   8242 non-null   int64
 73  Var76   8242 non-null   int64
 74  Var77   8242 non-null   int64
 75  Var78   8242 non-null   int64
 76  Var79   8242 non-null   int64
 77  Var80   8242 non-null   int64
 78  Var81   8242 non-null   float64
 79  Var82   8242 non-null   float64
 80  Var83   8242 non-null   float64
 81  Var84   8242 non-null   int64
 82  Var85   8242 non-null   float64
 83  Var86   8242 non-null   int64
 84  Var87   8242 non-null   int64
 85  Var88   8242 non-null   int64
 86  Var89   8242 non-null   int64
 87  Var90   8242 non-null   int64
 88  Var91   8242 non-null   int64
 89  Var92   8242 non-null   int64
 90  Var93   8242 non-null   int64
 91  Var94   8242 non-null   int64
 92  Var95   8242 non-null   float64
 93  Var96   8242 non-null   int64
 94  Var97   8242 non-null   int64
 95  Var98   8242 non-null   int64
 96  Var99   8242 non-null   int64
 97  Var100  8242 non-null   int64
 98  Var101  8242 non-null   int64
 99  Var102  8242 non-null   int64
 100 Var103  8242 non-null   int64
 101 Var104  8242 non-null   int64
 102 Var105  8242 non-null   int64
 103 Var106  8242 non-null   int64
 104 Var107  8242 non-null   int64
 105 Var108  8242 non-null   int64
 106 Var109  8242 non-null   int64
 107 Var110  8242 non-null   int64
 108 Var111  8242 non-null   int64
 109 Var112  8242 non-null   int64
 110 Var113  8242 non-null   int64
 111 Var114  8242 non-null   int64
 112 Var115  8242 non-null   int64
 113 Var116  8242 non-null   int64
 114 Var117  8242 non-null   int64
 115 Var118  8242 non-null   int64
 116 Var119  8242 non-null   int64
 117 Var120  8242 non-null   int64
 118 Var121  8242 non-null   int64
 119 Var122  8242 non-null   int64
 120 Var123  8242 non-null   int64
 121 Var124  8242 non-null   int64
 122 Var125  8242 non-null   int64
 123 Var126  8242 non-null   int64
 124 Var127  8242 non-null   int64
 125 Var128  8242 non-null   int64
 126 Var129  8242 non-null   float64
 127 Var130  8242 non-null   float64
 128 Var131  8242 non-null   float64
 129 Var132  8242 non-null   int64
 130 Var133  8242 non-null   int64
 131 Var134  8242 non-null   int64
 132 Var135  8242 non-null   int64
 133 Var136  8242 non-null   float64
 134 Var137  8242 non-null   int64
 135 Var138  8242 non-null   int64
 136 Var139  8242 non-null   int64
 137 Var140  8242 non-null   int64
 138 Var141  8242 non-null   int64
 139 Var142  8242 non-null   int64
 140 Var143  8242 non-null   int64
 141 Var144  8242 non-null   int64
 142 Var145  8242 non-null   int64
 143 Var146  8242 non-null   int64
 144 Var147  8242 non-null   int64
 145 Var148  8242 non-null   int64
 146 Var149  8242 non-null   int64
 147 Var150  8242 non-null   int64
 148 Var151  8242 non-null   int64
 149 Var152  8242 non-null   int64
 150 Var153  8242 non-null   int64
 151 Var154  8242 non-null   int64
 152 Var155  8242 non-null   int64
 153 Var156  8242 non-null   int64
 154 Var157  8242 non-null   int64
 155 Var158  8242 non-null   int64
 156 Var159  8242 non-null   int64
 157 Var160  8242 non-null   int64
 158 Var161  8242 non-null   float64
 159 Var162  8242 non-null   int64
 160 Var163  8242 non-null   int64
dtypes: float64(19), int64(142)
memory usage: 10.2 MB

In [105]:
test = data[data['Fold'] == 'OS'].copy()
test.drop(columns='Fold', inplace=True)
test.info(max_cols=200)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4773 entries, 101 to 13015
Data columns (total 161 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  4773 non-null   int64
 1   Var4    4773 non-null   int64
 2   Var5    4773 non-null   int64
 3   Var6    4773 non-null   int64
 4   Var7    4773 non-null   float64
 5   Var8    4773 non-null   int64
 6   Var9    4773 non-null   float64
 7   Var10   4773 non-null   int64
 8   Var11   4773 non-null   int64
 9   Var12   4773 non-null   int64
 10  Var13   4773 non-null   float64
 11  Var14   4773 non-null   float64
 12  Var15   4773 non-null   int64
 13  Var16   4773 non-null   int64
 14  Var17   4773 non-null   int64
 15  Var18   4773 non-null   int64
 16  Var19   4773 non-null   int64
 17  Var20   4773 non-null   int64
 18  Var21   4773 non-null   int64
 19  Var22   4773 non-null   int64
 20  Var23   4773 non-null   int64
 21  Var24   4773 non-null   float64
 22  Var25   4773 non-null   float64
 23  Var26   4773 non-null   int64
 24  Var27   4773 non-null   int64
 25  Var28   4773 non-null   int64
 26  Var29   4773 non-null   int64
 27  Var30   4773 non-null   int64
 28  Var31   4773 non-null   int64
 29  Var32   4773 non-null   int64
 30  Var33   4773 non-null   int64
 31  Var34   4773 non-null   int64
 32  Var35   4773 non-null   int64
 33  Var36   4773 non-null   int64
 34  Var37   4773 non-null   int64
 35  Var38   4773 non-null   int64
 36  Var39   4773 non-null   int64
 37  Var40   4773 non-null   int64
 38  Var41   4773 non-null   int64
 39  Var42   4773 non-null   int64
 40  Var43   4773 non-null   int64
 41  Var44   4773 non-null   float64
 42  Var45   4773 non-null   int64
 43  Var46   4773 non-null   int64
 44  Var47   4773 non-null   int64
 45  Var48   4773 non-null   int64
 46  Var49   4773 non-null   int64
 47  Var50   4773 non-null   int64
 48  Var51   4773 non-null   int64
 49  Var52   4773 non-null   int64
 50  Var53   4773 non-null   int64
 51  Var54   4773 non-null   int64
 52  Var55   4773 non-null   int64
 53  Var56   4773 non-null   int64
 54  Var57   4773 non-null   int64
 55  Var58   4773 non-null   int64
 56  Var59   4773 non-null   int64
 57  Var60   4773 non-null   int64
 58  Var61   4773 non-null   int64
 59  Var62   4773 non-null   int64
 60  Var63   4773 non-null   int64
 61  Var64   4773 non-null   int64
 62  Var65   4773 non-null   int64
 63  Var66   4773 non-null   int64
 64  Var67   4773 non-null   int64
 65  Var68   4773 non-null   int64
 66  Var69   4773 non-null   int64
 67  Var70   4773 non-null   int64
 68  Var71   4773 non-null   int64
 69  Var72   4773 non-null   float64
 70  Var73   4773 non-null   float64
 71  Var74   4773 non-null   int64
 72  Var75   4773 non-null   int64
 73  Var76   4773 non-null   int64
 74  Var77   4773 non-null   int64
 75  Var78   4773 non-null   int64
 76  Var79   4773 non-null   int64
 77  Var80   4773 non-null   int64
 78  Var81   4773 non-null   float64
 79  Var82   4773 non-null   float64
 80  Var83   4773 non-null   float64
 81  Var84   4773 non-null   int64
 82  Var85   4773 non-null   float64
 83  Var86   4773 non-null   int64
 84  Var87   4773 non-null   int64
 85  Var88   4773 non-null   int64
 86  Var89   4773 non-null   int64
 87  Var90   4773 non-null   int64
 88  Var91   4773 non-null   int64
 89  Var92   4773 non-null   int64
 90  Var93   4773 non-null   int64
 91  Var94   4773 non-null   int64
 92  Var95   4773 non-null   float64
 93  Var96   4773 non-null   int64
 94  Var97   4773 non-null   int64
 95  Var98   4773 non-null   int64
 96  Var99   4773 non-null   int64
 97  Var100  4773 non-null   int64
 98  Var101  4773 non-null   int64
 99  Var102  4773 non-null   int64
 100 Var103  4773 non-null   int64
 101 Var104  4773 non-null   int64
 102 Var105  4773 non-null   int64
 103 Var106  4773 non-null   int64
 104 Var107  4773 non-null   int64
 105 Var108  4773 non-null   int64
 106 Var109  4773 non-null   int64
 107 Var110  4773 non-null   int64
 108 Var111  4773 non-null   int64
 109 Var112  4773 non-null   int64
 110 Var113  4773 non-null   int64
 111 Var114  4773 non-null   int64
 112 Var115  4773 non-null   int64
 113 Var116  4773 non-null   int64
 114 Var117  4773 non-null   int64
 115 Var118  4773 non-null   int64
 116 Var119  4773 non-null   int64
 117 Var120  4773 non-null   int64
 118 Var121  4773 non-null   int64
 119 Var122  4773 non-null   int64
 120 Var123  4773 non-null   int64
 121 Var124  4773 non-null   int64
 122 Var125  4773 non-null   int64
 123 Var126  4773 non-null   int64
 124 Var127  4773 non-null   int64
 125 Var128  4773 non-null   int64
 126 Var129  4773 non-null   float64
 127 Var130  4773 non-null   float64
 128 Var131  4773 non-null   float64
 129 Var132  4773 non-null   int64
 130 Var133  4773 non-null   int64
 131 Var134  4773 non-null   int64
 132 Var135  4773 non-null   int64
 133 Var136  4773 non-null   float64
 134 Var137  4773 non-null   int64
 135 Var138  4773 non-null   int64
 136 Var139  4773 non-null   int64
 137 Var140  4773 non-null   int64
 138 Var141  4773 non-null   int64
 139 Var142  4773 non-null   int64
 140 Var143  4773 non-null   int64
 141 Var144  4773 non-null   int64
 142 Var145  4773 non-null   int64
 143 Var146  4773 non-null   int64
 144 Var147  4773 non-null   int64
 145 Var148  4773 non-null   int64
 146 Var149  4773 non-null   int64
 147 Var150  4773 non-null   int64
 148 Var151  4773 non-null   int64
 149 Var152  4773 non-null   int64
 150 Var153  4773 non-null   int64
 151 Var154  4773 non-null   int64
 152 Var155  4773 non-null   int64
 153 Var156  4773 non-null   int64
 154 Var157  4773 non-null   int64
 155 Var158  4773 non-null   int64
 156 Var159  4773 non-null   int64
 157 Var160  4773 non-null   int64
 158 Var161  4773 non-null   float64
 159 Var162  4773 non-null   int64
 160 Var163  4773 non-null   int64
dtypes: float64(19), int64(142)
memory usage: 5.9 MB

In [106]:
del data
gc.collect()

116

In [107]:
train['Target'].value_counts(normalize=True)

0    0.975855
1    0.024145
Name: Target, dtype: float64

In [108]:
test['Target'].value_counts(normalize=True)

0    0.98282
1    0.01718
Name: Target, dtype: float64

In [109]:
y_train = train[TARGET]
x_train = train[FEATURES]

In [110]:
# scale_pos_weight is the ratio of number of negative class to the positive class.
model = lgb.LGBMClassifier(n_estimators=ESTIMATORS, reg_alpha=1, scale_pos_weight=49)
pipe = Pipeline([('model', model)])
param_grid = {
    'model__learning_rate': [0.01],
    'model__num_leaves': [31],
    'model__min_child_samples': [20],
    'model__colsample_bytree': [0.5]
}
# Defaults to StratifiedKFold
lgbm = GridSearchCV(pipe, cv=FOLDS, param_grid=param_grid, scoring=SCORING)
lgbm.fit(x_train, y_train)
best_score = lgbm.best_score_
best_score_std = lgbm.cv_results_['std_test_score'][lgbm.best_index_]
print(f"""best params={repr(lgbm.best_params_)}
best score={best_score:0.3f}, std={best_score_std:0.3f}
""")
res = pd.DataFrame.from_dict(lgbm.cv_results_)
res.set_index('rank_test_score', inplace=True)
res.head()

best params={'model__colsample_bytree': 0.5, 'model__learning_rate': 0.01, 'model__min_child_samples': 20, 'model__num_leaves': 31}
best score=0.664, std=0.070

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_model__colsample_bytree,param_model__learning_rate,param_model__min_child_samples,param_model__num_leaves,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score
rank_test_score,,,,,,,,,,,,,,,,
1,0.174756,0.013086,0.006225,0.000354,0.5,0.01,20,31,"{'model__colsample_bytree': 0.5, 'model__learn...",0.578076,0.606339,0.650348,0.766154,0.72144,0.664471,0.070182

In [111]:
model = RandomForestClassifier(n_estimators=ESTIMATORS, class_weight='balanced_subsample')
pipe = Pipeline([('model', model)])
param_grid = {
    'model__min_samples_leaf': [20],
    'model__max_features': ['sqrt']
}
# Defaults to StratifiedKFold
rf = GridSearchCV(pipe, cv=FOLDS, param_grid=param_grid, scoring=SCORING)
rf.fit(x_train, y_train)
best_score = rf.best_score_
best_score_std = rf.cv_results_['std_test_score'][rf.best_index_]
print(f"""best params={repr(rf.best_params_)}
best score={best_score:0.3f}, std={best_score_std:0.3f}
""")
res = pd.DataFrame.from_dict(rf.cv_results_)
res.set_index('rank_test_score', inplace=True)
res.head()

best params={'model__max_features': 'sqrt', 'model__min_samples_leaf': 20}
best score=0.701, std=0.086

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_model__max_features,param_model__min_samples_leaf,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score
rank_test_score,,,,,,,,,,,,,,
1,0.702109,0.018574,0.021579,0.000945,sqrt,20,"{'model__max_features': 'sqrt', 'model__min_sa...",0.610115,0.597856,0.772705,0.812624,0.713977,0.701455,0.085636